@model BookReader.ViewModels.ReadBookViewModel

@{
    ViewBag.Title = "Read a Book";
}

<script type="text/javascript">

    $(function () {
        $("#BookId").change(function () {
            $("#SelectBookForm form").submit();
        });

        $('.verseTable tr:even').addClass('darkenBackground');

        $(".referenceColumn").tooltip({
            position: 'top left',
            delay: 150
        });

        $("#ReadReferenceDialog").dialog({
            autoOpen: false,
            modal: true,
            width: 900,
            height: 600
        });

        $(".tooltip div").click(function () {
            var verseId = $(this).attr("id");

            $("#ReadReferenceDialog").load("/ReadBook/ReadReference", { id: verseId }).dialog("open");
        });

    });
</script>

<h2>Read a Book</h2>

<div id="SelectBookForm">
    @using (Html.BeginForm(new { id = "SelectBook" }))
    {
        @Html.DropDownList("BookId", "- Select a Book -")
    }
</div>

<div>
    @if (Model.Book != null) {
        foreach (var chapter in Model.Book.Chapters.OrderBy(x => x.Number)) { 
            <span>Chapter Number: </span>@chapter.Number<br />
            <span>Chapter Title: </span>@chapter.Title<br />

            <table class="verseTable">
                <thead>
                    <tr>
                        <th>Verse #</th>
                        <th>Text</th>
                        <th>Ref. Count</th>
                    </tr>
                </thead>
            @foreach (var verse in chapter.Verses.OrderBy(x => x.VerseNumber)) {
                var verseReferences = Model.References.Where(x => x.ReferencedVerse.Id == verse.Id);
                <tr>
                    <td>@verse.VerseNumber</td>
                    <td>@verse.VerseText</td>
                    <td>
                        <div class="referenceColumn">@verseReferences.Count()</div>
                        @if (verseReferences.Count() > 0) { 
                            <div class="tooltip">
                                @foreach (var reference in verseReferences)
                                {
                                    <div id="@reference.QuotingVerse.Id">@reference.QuotingVerse.Chapter.Book.Title &para;@reference.QuotingVerse.VerseNumber</div>
                                }
                            </div>
                        }
                    </td>
                    
                </tr>
            }
            </table>
        }
    }

</div>

@** Dialog placeholder **@
<div id="ReadReferenceDialog">
</div>